{:deps  {org.clojure/clojure      {:mvn/version "1.12.5"}
         org.antlr/antlr4-runtime {:mvn/version "4.13.2"}
         org.flatland/ordered     {:mvn/version "1.15.12"}
         org.clojure/data.json    {:mvn/version "2.5.2"}
         better-cond/better-cond  {:mvn/version "2.1.5"}}
 :paths ["src" "resources" "target/classes"]

 :deps/prep-lib
 {:ensure "target/classes"
  :alias  :build
  :fn     compile-java}
 :aliases
 {:dev
  {:extra-deps  {criterium/criterium                      {:mvn/version "0.4.6"}
                 org.clj-commons/pretty                   {:mvn/version "3.8.0"}
                 io.github.tonsky/clj-reload              {:mvn/version "1.0.0"}
                 org.clojure/core.async                   {:mvn/version "1.9.865"}
                 expound/expound                          {:mvn/version "0.9.0"}
                 joda-time/joda-time                      {:mvn/version "2.14.2"}
                 com.walmartlabs/test-reporting           {:mvn/version "1.2"}
                 io.github.hlship/trace                   {:mvn/version "1.4"}
                 io.pedestal/pedestal.log                 {:mvn/version "0.8.1"}
                 org.clojure/test.check                   {:mvn/version "1.1.3"}
                 org.clojure/data.csv                     {:mvn/version "1.1.1"}
                 org.clojure/tools.cli                    {:mvn/version "1.4.256"}
                 com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.7.0"}}
   :jvm-opts    ["-Xmx1g"
                 "-Xms1g"
                 "-XX:NewSize=200m"
                 "-XX:MaxNewSize=500m"
                 "-XX:-OmitStackTraceInFastThrow"
                 "-XX:+UnlockDiagnosticVMOptions"
                 "-XX:+DebugNonSafepoints"
                 "-XX:FlightRecorderOptions=stackdepth=256"
                 "-Djdk.attach.allowAttachSelf"
                 "-Dapple.awt.UIElement=true"]
   :extra-paths ["test" "dev-resources"]}

  :clojure-11 {}

  :clojure-12 {:override-deps {org.clojure/clojure {:mvn/version "1.12.5"}}}

  ;; clj -Mdev:perf
  :perf
  {:main-opts ["--main" "perf"]}

  ;; :test needs :dev, i.e. clj -Xdev:test
  :test
  {:extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                      :git/sha "dfb30dd"}}
   :exec-fn    cognitect.test-runner.api/test
   :exec-args
   {:patterns [".*-tests?$"]}}

  ;; clj -Mdev:test:coverage
  :coverage   {:extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
               :main-opts  ["-m" "cloverage.coverage" "-p" "src" "-s" "test" "--codecov"]}

  ;; clj -T:build <command>
  :build      {:deps       {io.github.hlship/build-tools
                            {:git/tag "0.12.1" :git/sha "05f3ae"}
                            clj-kondo/clj-kondo    {:mvn/version "2026.04.15"}
                            org.clj-commons/pretty {:mvn/version "3.8.0"}}
               :ns-default build}}
 :net.lewisship.build/scm
 {:license :asl}

 :codox/config
 {:description "Clojure-native implementation of GraphQL"
  :source-uri  "https://github.com/walmartlabs/lacinia/blob/master/{filepath}#L{line}"}}
