{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        clj-antlr/clj-antlr {:mvn/version "0.2.10"}
        org.flatland/ordered {:mvn/version "1.15.10"}
        org.clojure/data.json {:mvn/version "2.4.0"}}
 :paths ["src" "resources"]
 :aliases
 {:dev
  {:extra-deps {criterium/criterium {:mvn/version "0.4.6"}
                org.clojure/core.async {:mvn/version "1.5.648"}
                expound/expound {:mvn/version "0.8.10"}
                joda-time/joda-time {:mvn/version "2.10.13"}
                com.walmartlabs/test-reporting {:mvn/version "1.1"}
                io.aviso/logging {:mvn/version "1.0"}
                io.github.hlship/trace {:mvn/version "v1.0"}
                io.pedestal/pedestal.log {:mvn/version "0.5.9"}
                org.clojure/test.check {:mvn/version "1.1.1"}
                org.clojure/data.csv {:mvn/version "1.0.0"}
                org.clojure/tools.cli {:mvn/version "1.0.206"}
                com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.5.1"}}
   :jvm-opts ["-Xmx1g"
              "-Xms1g"
              "-XX:NewSize=200m"
              "-XX:MaxNewSize=500m"
              "-XX:-OmitStackTraceInFastThrow"
              "-XX:+UnlockDiagnosticVMOptions"
              "-XX:+DebugNonSafepoints"
              "-XX:FlightRecorderOptions=stackdepth=256"
              "-Djdk.attach.allowAttachSelf"
              "-Dapple.awt.UIElement=true"]
   :extra-paths ["test" "dev-resources"]}

  ;; clj -Mdev:perf
  :perf
  {:main-opts ["--main" "perf"]}

  ;; :test needs :dev, i.e. clj -Xdev:test
  :test
  {:extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.0"
                                                      :git/sha "b3fd0d2"}}
   :exec-fn cognitect.test-runner.api/test
   :exec-args
   {:patterns [".*-tests?$"]}}

  ;; clj -Mdev:test:coverage
  :coverage {:extra-deps {cloverage/cloverage {:mvn/version "1.2.2"}}
             :main-opts ["-m" "cloverage.coverage" "-p" "src" "-s" "test" "--codecov"]}

  ;; clj -T:build <command>
  :build {:deps {io.github.hlship/build-tools {:git/tag "v0.3" :git/sha "1ca74c2"}}
          :ns-default build}}

 :codox/config
 {:description "Clojure-native implementation of GraphQL"
  :source-uri "https://github.com/walmartlabs/lacinia/blob/master/{filepath}#L{line}"}}