{:roots {:query :Query}
 :objects
 {:User {:fields {:id {:type (non-null Int)}
                  :name {:type (non-null String)}}
         :directives [{:directive-type :key :directive-args {:fields "id"}}]}
  :Query {:fields {:user_by_id {:type :User :args {:id {:type (non-null Int)}}}}}
  :Account {:fields {:acct_number {:type (non-null String)}
                     :name {:type (non-null String)}}
            :directives [{:directive-type :key :directive-args {:fields "acct_number"}}]}
  :Product {:fields {:upc {:type (non-null String)
                          :directives [{:directive-type :external}]}
                     :reviewed_by {:type :User}}
            :directives [{:directive-type :key :directive-args {:fields "upc"}}
                         {:directive-type :extends}]}}}
