{:data
 {:planets
  [{:name "Mercury", :moons nil}
   {:name "Venus", :moons nil}
   {:name "Earth",
    :moons
    [{:name "Luna",
      :bases [{:name "Alpha"} {:name "Moon 1"} {:name "月基地图"}]}]}
   {:name "Mars",
    :moons [{:name "Phobos", :bases nil} {:name "Deimos", :bases nil}]}
   {:name "Asteroid Belt",
    :moons
    [{:name "Asteroid 1", :bases [{:name "Pad"}]}
     {:name "Asteroid 2", :bases [{:name "Pad"}]}
     {:name "Asteroid 3", :bases [{:name "Pad"}]}
     {:name "Asteroid 4", :bases [{:name "Pad"}]}
     {:name "Asteroid 5", :bases [{:name "Pad"}]}
     {:name "Asteroid 6", :bases [{:name "Pad"}]}
     {:name "Asteroid 7", :bases [{:name "Pad"}]}
     {:name "Asteroid 8", :bases [{:name "Pad"}]}
     {:name "Asteroid 9", :bases [{:name "Pad"}]}
     {:name "Asteroid 10", :bases [{:name "Pad"}]}
     {:name "Asteroid 11", :bases [{:name "Pad"}]}
     {:name "Asteroid 12", :bases [{:name "Pad"}]}
     {:name "Asteroid 13", :bases [{:name "Pad"}]}
     {:name "Asteroid 14", :bases [{:name "Pad"}]}
     {:name "Asteroid 15", :bases [{:name "Pad"}]}
     {:name "Asteroid 16", :bases [{:name "Pad"}]}
     {:name "Asteroid 17", :bases [{:name "Pad"}]}
     {:name "Asteroid 18", :bases [{:name "Pad"}]}
     {:name "Asteroid 19", :bases [{:name "Pad"}]}
     {:name "Asteroid 20", :bases [{:name "Pad"}]}
     {:name "Asteroid 21", :bases [{:name "Pad"}]}
     {:name "Asteroid 22", :bases [{:name "Pad"}]}
     {:name "Asteroid 23", :bases [{:name "Pad"}]}
     {:name "Asteroid 24", :bases [{:name "Pad"}]}
     {:name "Asteroid 25", :bases [{:name "Pad"}]}
     {:name "Asteroid 26", :bases [{:name "Pad"}]}
     {:name "Asteroid 27", :bases [{:name "Pad"}]}
     {:name "Asteroid 28", :bases [{:name "Pad"}]}
     {:name "Asteroid 29", :bases [{:name "Pad"}]}
     {:name "Asteroid 30", :bases [{:name "Pad"}]}
     {:name "Asteroid 31", :bases [{:name "Pad"}]}
     {:name "Asteroid 32", :bases [{:name "Pad"}]}
     {:name "Asteroid 33", :bases [{:name "Pad"}]}
     {:name "Asteroid 34", :bases [{:name "Pad"}]}
     {:name "Asteroid 35", :bases [{:name "Pad"}]}
     {:name "Asteroid 36", :bases [{:name "Pad"}]}
     {:name "Asteroid 37", :bases [{:name "Pad"}]}
     {:name "Asteroid 38", :bases [{:name "Pad"}]}
     {:name "Asteroid 39", :bases [{:name "Pad"}]}
     {:name "Asteroid 40", :bases [{:name "Pad"}]}
     {:name "Asteroid 41", :bases [{:name "Pad"}]}
     {:name "Asteroid 42", :bases [{:name "Pad"}]}
     {:name "Asteroid 43", :bases [{:name "Pad"}]}
     {:name "Asteroid 44", :bases [{:name "Pad"}]}
     {:name "Asteroid 45", :bases [{:name "Pad"}]}
     {:name "Asteroid 46", :bases [{:name "Pad"}]}
     {:name "Asteroid 47", :bases [{:name "Pad"}]}
     {:name "Asteroid 48", :bases [{:name "Pad"}]}
     {:name "Asteroid 49", :bases [{:name "Pad"}]}
     {:name "Asteroid 50", :bases [{:name "Pad"}]}
     {:name "Asteroid 51", :bases [{:name "Pad"}]}
     {:name "Asteroid 52", :bases [{:name "Pad"}]}
     {:name "Asteroid 53", :bases [{:name "Pad"}]}
     {:name "Asteroid 54", :bases [{:name "Pad"}]}
     {:name "Asteroid 55", :bases [{:name "Pad"}]}
     {:name "Asteroid 56", :bases [{:name "Pad"}]}
     {:name "Asteroid 57", :bases [{:name "Pad"}]}
     {:name "Asteroid 58", :bases [{:name "Pad"}]}
     {:name "Asteroid 59", :bases [{:name "Pad"}]}
     {:name "Asteroid 60", :bases [{:name "Pad"}]}
     {:name "Asteroid 61", :bases [{:name "Pad"}]}
     {:name "Asteroid 62", :bases [{:name "Pad"}]}
     {:name "Asteroid 63", :bases [{:name "Pad"}]}
     {:name "Asteroid 64", :bases [{:name "Pad"}]}
     {:name "Asteroid 65", :bases [{:name "Pad"}]}
     {:name "Asteroid 66", :bases [{:name "Pad"}]}
     {:name "Asteroid 67", :bases [{:name "Pad"}]}
     {:name "Asteroid 68", :bases [{:name "Pad"}]}
     {:name "Asteroid 69", :bases [{:name "Pad"}]}
     {:name "Asteroid 70", :bases [{:name "Pad"}]}
     {:name "Asteroid 71", :bases [{:name "Pad"}]}
     {:name "Asteroid 72", :bases [{:name "Pad"}]}
     {:name "Asteroid 73", :bases [{:name "Pad"}]}
     {:name "Asteroid 74", :bases [{:name "Pad"}]}
     {:name "Asteroid 75", :bases [{:name "Pad"}]}
     {:name "Asteroid 76", :bases [{:name "Pad"}]}
     {:name "Asteroid 77", :bases [{:name "Pad"}]}
     {:name "Asteroid 78", :bases [{:name "Pad"}]}
     {:name "Asteroid 79", :bases [{:name "Pad"}]}
     {:name "Asteroid 80", :bases [{:name "Pad"}]}
     {:name "Asteroid 81", :bases [{:name "Pad"}]}
     {:name "Asteroid 82", :bases [{:name "Pad"}]}
     {:name "Asteroid 83", :bases [{:name "Pad"}]}
     {:name "Asteroid 84", :bases [{:name "Pad"}]}
     {:name "Asteroid 85", :bases [{:name "Pad"}]}
     {:name "Asteroid 86", :bases [{:name "Pad"}]}
     {:name "Asteroid 87", :bases [{:name "Pad"}]}
     {:name "Asteroid 88", :bases [{:name "Pad"}]}
     {:name "Asteroid 89", :bases [{:name "Pad"}]}
     {:name "Asteroid 90", :bases [{:name "Pad"}]}
     {:name "Asteroid 91", :bases [{:name "Pad"}]}
     {:name "Asteroid 92", :bases [{:name "Pad"}]}
     {:name "Asteroid 93", :bases [{:name "Pad"}]}
     {:name "Asteroid 94", :bases [{:name "Pad"}]}
     {:name "Asteroid 95", :bases [{:name "Pad"}]}
     {:name "Asteroid 96", :bases [{:name "Pad"}]}
     {:name "Asteroid 97", :bases [{:name "Pad"}]}
     {:name "Asteroid 98", :bases [{:name "Pad"}]}
     {:name "Asteroid 99", :bases [{:name "Pad"}]}
     {:name "Asteroid 100", :bases [{:name "Pad"}]}]}
   {:name "Jupiter",
    :moons
    [{:name "Europa", :bases [{:name "Beta"}]}
     {:name "Ganymede", :bases nil}
     {:name "Callisto", :bases [{:name "Gamma"}]}]}
   {:name "Saturn",
    :moons
    [{:name "Dione", :bases nil}
     {:name "Tethys", :bases nil}
     {:name "Titan", :bases [{:name "Omega"}]}]}
   {:name "Saturn", :moons nil}
   {:name "Uranus", :moons nil}]},
 :errors
 [{:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 0 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 1 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 2 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 3 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 4 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 5 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 6 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 7 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 8 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 9 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 10 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 11 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 12 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 13 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 14 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 15 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 16 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 17 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 18 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 19 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 20 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 21 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 22 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 23 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 24 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 25 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 26 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 27 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 28 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 29 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 30 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 31 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 32 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 33 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 34 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 35 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 36 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 37 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 38 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 39 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 40 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 41 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 42 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 43 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 44 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 45 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 46 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 47 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 48 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 49 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 50 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 51 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 52 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 53 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 54 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 55 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 56 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 57 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 58 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 59 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 60 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 61 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 62 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 63 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 64 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 65 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 66 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 67 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 68 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 69 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 70 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 71 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 72 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 73 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 74 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 75 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 76 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 77 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 78 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 79 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 80 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 81 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 82 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 83 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 84 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 85 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 86 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 87 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 88 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 89 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 90 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 91 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 92 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 93 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 94 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 95 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 96 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 97 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 98 :bases 0 :name]}
  {:message "This base has been destroyed.",
   :locations [{:line 1, :column 39}],
   :path [:planets 4 :moons 99 :bases 0 :name]}
  {:message "Europa is forbidden. Attempt no landing there.",
   :locations [{:line 1, :column 39}],
   :path [:planets 5 :moons 0 :bases 0 :name]}]}
