{:objects
 {:MyObject
  {:fields
   {:error_field
    {:type String
     :resolve :single-error}

    :exception
    {:type String
     :args
     {:range {:type Int}}
     :resolve :exception}

    :with_extensions
    {:type String
     :resolve :with-extensions}

    :multiple_errors_field
    {:type String
     :resolve :multiple-errors}}}}

 :queries
 {:root {:type :MyObject
         :resolve :resolve-root}}}
