{:unions
 {:Characters
  {:members [:Human :Droid]}}
 :objects
 {:Human
  {:fields
   {:first_name {:type String
                 :resolve [:prop :firstName]}
    :last_name {:type String
                :resolve [:prop :lastName]}}}

  :Droid
  {:fields
   {:designation {:type String
                  :resolve [:prop :designation]}
    :function {:type String
               :resolve [:prop :function]}}}}

 :queries
 {:human
  {:type :Human
   :resolve :resolve-human}

  :droid
  {:type :Droid
   :resolve :resolve-droid}

  :astromech
  {:type :Droid
   :resolve :resolve-astromech}

  :characters
  {:type (list :Characters)
   :resolve :resolve-characters}}}
