{:interfaces
 {:character
  {:fields
   {:name {:type String}
    :friends {:type (list :character)}}}}

 :objects
 {:droid
  {:implements [:character]
   :fields {:name {:type String}
            :power {:type String}
            :friends {:type (list :character)
                      :resolve :resolve-friends }}}

  :human
  {:implements [:character]
   :fields {:name {:type String}
            :friends {:type (list :character)
                      :resolve :resolve-friends}
            :home_world {:type String}}}}

 :queries
 {:characters
  {:type (list :character)
   :resolve :resolve-characters}}}
