{:input-objects
 {:Filter
  {:fields
   {:terms {:type (list (non-null String))}
    :max_count {:type Int}}}}

 :queries
 {:search
  {:type (list String)
   :args
   {:filter {:type :Filter}}
   :resolve :queries/search}}}
