{:data
 {:__schema
  {:queryType {:name "QueryRoot"},
   :mutationType nil,
   :types
   [{:kind :SCALAR,
     :name "Boolean",
     :description nil,
     :fields [],
     :inputFields [],
     :interfaces [],
     :enumValues [],
     :possibleTypes []}
    {:kind :SCALAR,
     :name "Float",
     :description nil,
     :fields [],
     :inputFields [],
     :interfaces [],
     :enumValues [],
     :possibleTypes []}
    {:kind :SCALAR,
     :name "ID",
     :description nil,
     :fields [],
     :inputFields [],
     :interfaces [],
     :enumValues [],
     :possibleTypes []}
    {:kind :SCALAR,
     :name "Int",
     :description nil,
     :fields [],
     :inputFields [],
     :interfaces [],
     :enumValues [],
     :possibleTypes []}
    {:kind :OBJECT,
     :name "QueryRoot",
     :description "Root of all queries.",
     :fields
     [{:name "droid",
       :description nil,
       :args
       [{:name "id",
         :description nil,
         :type {:kind :SCALAR, :name "String", :ofType nil},
         :defaultValue "2001"}],
       :type {:kind :OBJECT, :name "droid", :ofType nil},
       :isDeprecated false,
       :deprecationReason nil}
      {:name "hero",
       :description nil,
       :args
       [{:name "episode",
         :description nil,
         :type {:kind :ENUM, :name "episode", :ofType nil},
         :defaultValue nil}],
       :type
       {:kind :NON_NULL,
        :name nil,
        :ofType {:kind :INTERFACE, :name "character", :ofType nil}},
       :isDeprecated false,
       :deprecationReason nil}
      {:name "human",
       :description nil,
       :args
       [{:name "id",
         :description nil,
         :type {:kind :SCALAR, :name "String", :ofType nil},
         :defaultValue "1001"}],
       :type
       {:kind :NON_NULL,
        :name nil,
        :ofType {:kind :OBJECT, :name "human", :ofType nil}},
       :isDeprecated false,
       :deprecationReason nil}],
     :inputFields [],
     :interfaces [],
     :enumValues [],
     :possibleTypes []}
    {:kind :SCALAR,
     :name "String",
     :description nil,
     :fields [],
     :inputFields [],
     :interfaces [],
     :enumValues [],
     :possibleTypes []}
    {:kind :INTERFACE,
     :name "character",
     :description nil,
     :fields
     [{:name "appears_in",
       :description nil,
       :args [],
       :type
       {:kind :LIST,
        :name nil,
        :ofType {:kind :ENUM, :name "episode", :ofType nil}},
       :isDeprecated false,
       :deprecationReason nil}
      {:name "friends",
       :description nil,
       :args [],
       :type
       {:kind :LIST,
        :name nil,
        :ofType {:kind :INTERFACE, :name "character", :ofType nil}},
       :isDeprecated false,
       :deprecationReason nil}
      {:name "id",
       :description nil,
       :args [],
       :type {:kind :SCALAR, :name "String", :ofType nil},
       :isDeprecated false,
       :deprecationReason nil}
      {:name "name",
       :description nil,
       :args [],
       :type {:kind :SCALAR, :name "String", :ofType nil},
       :isDeprecated false,
       :deprecationReason nil}],
     :inputFields [],
     :interfaces [],
     :enumValues [],
     :possibleTypes
     [{:kind :OBJECT, :name "droid", :ofType nil}
      {:kind :OBJECT, :name "human", :ofType nil}]}
    {:kind :OBJECT,
     :name "droid",
     :description nil,
     :fields
     [{:name "appears_in",
       :description nil,
       :args [],
       :type
       {:kind :LIST,
        :name nil,
        :ofType {:kind :ENUM, :name "episode", :ofType nil}},
       :isDeprecated false,
       :deprecationReason nil}
      {:name "friends",
       :description nil,
       :args [],
       :type
       {:kind :LIST,
        :name nil,
        :ofType {:kind :INTERFACE, :name "character", :ofType nil}},
       :isDeprecated false,
       :deprecationReason nil}
      {:name "id",
       :description nil,
       :args [],
       :type {:kind :SCALAR, :name "String", :ofType nil},
       :isDeprecated false,
       :deprecationReason nil}
      {:name "name",
       :description nil,
       :args [],
       :type {:kind :SCALAR, :name "String", :ofType nil},
       :isDeprecated false,
       :deprecationReason nil}
      {:name "primary_function",
       :description nil,
       :args [],
       :type
       {:kind :LIST,
        :name nil,
        :ofType {:kind :SCALAR, :name "String", :ofType nil}},
       :isDeprecated false,
       :deprecationReason nil}],
     :inputFields [],
     :interfaces [{:kind :INTERFACE, :name "character", :ofType nil}],
     :enumValues [],
     :possibleTypes []}
    {:kind :ENUM,
     :name "episode",
     :description "The episodes of the original Star Wars trilogy.",
     :fields [],
     :inputFields [],
     :interfaces [],
     :enumValues
     [{:name "NEWHOPE",
       :description nil,
       :isDeprecated false,
       :deprecationReason nil}
      {:name "EMPIRE",
       :description nil,
       :isDeprecated false,
       :deprecationReason nil}
      {:name "JEDI",
       :description nil,
       :isDeprecated false,
       :deprecationReason nil}],
     :possibleTypes []}
    {:kind :OBJECT,
     :name "human",
     :description nil,
     :fields
     [{:name "appears_in",
       :description nil,
       :args [],
       :type
       {:kind :LIST,
        :name nil,
        :ofType {:kind :ENUM, :name "episode", :ofType nil}},
       :isDeprecated false,
       :deprecationReason nil}
      {:name "friends",
       :description nil,
       :args [],
       :type
       {:kind :LIST,
        :name nil,
        :ofType {:kind :INTERFACE, :name "character", :ofType nil}},
       :isDeprecated false,
       :deprecationReason nil}
      {:name "home_planet",
       :description nil,
       :args [],
       :type {:kind :SCALAR, :name "String", :ofType nil},
       :isDeprecated false,
       :deprecationReason nil}
      {:name "id",
       :description nil,
       :args [],
       :type {:kind :SCALAR, :name "String", :ofType nil},
       :isDeprecated false,
       :deprecationReason nil}
      {:name "name",
       :description nil,
       :args [],
       :type {:kind :SCALAR, :name "String", :ofType nil},
       :isDeprecated false,
       :deprecationReason nil}],
     :inputFields [],
     :interfaces [{:kind :INTERFACE, :name "character", :ofType nil}],
     :enumValues [],
     :possibleTypes []}],
   :directives
   [{:name "skip",
     :description
     "Skip the selection only when the `if` argument is true.",
     :args
     [{:name "if",
       :description "Triggering argument for skip directive.",
       :type
       {:kind :NON_NULL,
        :name nil,
        :ofType {:kind :SCALAR, :name "Boolean", :ofType nil}},
       :defaultValue nil}]}
    {:name "include",
     :description
     "Include the selection only when the `if` argument is true.",
     :args
     [{:name "if",
       :description "Triggering argument for include directive.",
       :type
       {:kind :NON_NULL,
        :name nil,
        :ofType {:kind :SCALAR, :name "Boolean", :ofType nil}},
       :defaultValue nil}]}]}}}
