{:objects
 {:root_args
  {:fields
   {:int {:type Int}
    :float {:type Float}
    :boolean {:type Boolean}}}}

 :queries
 {:root
  {:type :root_args
   :args {:int {:type Int}
          :float {:type Float}
          :boolean {:type Boolean}}
   :resolve :root-resolve}
  :int_args
  {:type :root_args
   :args {:int {:type Int}
          :float {:type Int}
          :boolean {:type Int}}
   :resolve :root-resolve}}}
