{:objects
 {:__Schema
  {:fields
   {:types {:type (non-null (list :__Type))}
    :queryType {:type (non-null :__Type)}
    :mutationType {:type :__Type}
    :subscriptionType {:type :__Type}
    :directives {:type (non-null (list :__Directive))}}}

  :__Type
  {:fields
   {:kind {:type (non-null :__TypeKind)}
    :name {:type String}
    :description {:type String}

    :fields {:type (list :__Field)
             :args {:includeDeprecated {:type Boolean
                                        :default-value false}}
             :resolve :fields}
    :interfaces {:type (list :__Type)
                 :resolve :interfaces}
    :possibleTypes {:type (list :__Type)
                    :resolve :possible-types}
    :enumValues {:type (list :__EnumValue)
                 :args {:includeDeprecated {:type Boolean
                                            :default-value false}}
                 :resolve :enum-values}
    :inputFields {:type (list :__InputValue)
                  :resolve :input-fields}
    :ofType {:type :__Type
             :resolve :of-type}}}

  :__Field
  {:fields
   {:name {:type (non-null String)}
    :description {:type String}
    :args {:type (non-null (list :__InputValue))}
    :type {:type (non-null :__Type)
           :resolve :nested-type}
    :isDeprecated {:type (non-null Boolean)}
    :deprecationReason {:type String}}}

  :__InputValue
  {:fields
   {:name {:type (non-null String)}
    :description {:type String}
    :type {:type (non-null :__Type)
           :resolve :nested-type}
    :defaultValue {:type String
                   :resolve :default-value}}}

  :__EnumValue
  {:fields
   {:name {:type (non-null String)}
    :description {:type String}
    :isDeprecated {:type (non-null Boolean)}
    :deprecationReason {:type String}}}

  :__Directive
  {:fields
   {:name {:type (non-null String)}
    :description {:type String}
    :locations {:type (non-null (list :__DirectiveLocation))}
    :args {:type (non-null (list :__InputValue))}}}}

 :enums
 {:__TypeKind
  {:values
   ["SCALAR"
    "OBJECT"
    "INTERFACE"
    "UNION"
    "ENUM"
    "INPUT_OBJECT"
    "LIST"
    "NON_NULL"]}

  :__DirectiveLocation
  {:values
   ["QUERY"
    "MUTATION"
    "SUBSCRIPTION"
    "FIELD"
    "FRAGMENT_DEFINITION"
    "FRAGMENT_SPREAD"
    "INLINE_FRAGMENT"]}}

 :queries
 {:__type {:type :__Type
           :args {:name {:type String}}
           :resolve :root-type}
  :__schema {:type :__Schema
             :resolve :root-schema}}}
