[{:type :query
  :vars [{:var-name :internal
          :var-type {:of-type {:type :root-type
                               :type-name :Boolean}
                     :type :non-null}}]
  :selections [{:field-name :order
                :type :field
                :selections [{:type :field
                              :field-name :id}
                             {:type :field
                              :field-name :customer_id
                              :directives [{:directive-name :If
                                            :args [{:arg-name :test
                                                    :arg-value {:type :variable
                                                                :value :internal}}]}]}
                             {:type :field
                              :field-name :date}]}]}]
