[{:type :query
  :selections [{:type :field
                :field-name :order
                :selections [{:type :inline-fragment
                              :on-type :InStore
                              :directives [{:directive-name :Secure}]
                              :selections [{:type :field
                                            :field-name :store_number}]}
                             {:type :field
                              :field-name :item_count}
                             {:type :named-fragment
                              :fragment-name :OnlineFrag
                              :directives [{:directive-name :InternalOnly}]}]}]}
 {:type :fragment-definition
  :fragment-name :OnlineFrag
  :on-type :OnlineOrder
  :selections [{:field-name :refer_code
                :type :field}]}]
