[{:type :query
  :selections [{:type :field
                :field-name :hello
                :args [{:arg-name :i
                        :arg-value {:type :integer
                                    :value "5"}}
                       {:arg-name :f
                        :arg-value {:type :float
                                    :value "3.14"}}
                       {:arg-name :s
                        :arg-value {:type :string
                                    :value "clojure"}}

                       {:arg-name :bs
                        :arg-value {:type :string
                                    :value "This is a block string indented\nfour characters.\n\n  This line is indented an extra two.\n\nCharacters such as \\t are not expanded."}}
                       {:arg-name :b
                        :arg-value {:type :boolean
                                    :value "false"}}
                       {:arg-name :n
                        :arg-value {:type :null}}]}]}]
