[{:type :mutation
  :selections [{:type :field
                :field-name :new_person
                :args
                {:data
                 {:type :object
                  :value {:last_name {:type :string
                                      :value "Phelps"}
                          :first_name {:type :string
                                       :value "Fred"}
                          :age {:type :integer
                                :value 39}
                          :sex {:type :enum
                                :value :male}
                          :address {:type :object
                                    :value {:street {:type :string
                                                     :value "Hamburger Lane"}
                                            :city {:type :string
                                                   :value "Wilsonville"}
                                            :state {:type :string
                                                    :value "GE"}
                                            :zip {:type :string
                                                  :value "87267"}}}
                          :notes {:type :array
                                  :value [{:type :string
                                           :value "one"}
                                          {:type :string
                                           :value "two"}
                                          {:type :string
                                           :value "three"}]}}}}}]}]
