[{:type :query
  :selections [{:type :field
                :field-name :hello
                :args [{:arg-name :query
                        :arg-value {:type :string
                                    :value "graphql"}}]}]}]
