{:directive-defs
 {:access
  {:locations #{:field-definition}
   :args {:role {:type (non-null String)}}}}

 :objects
 {:Query
  {:fields
   {:ultimateAnswer
    {:type String
     :directives [{:directive-type :access
                   :directive-args {:role "deep-thought"}}]}}}}}
