{:unions
 {:Searchable
  {:members [:Business :Employee]}}

 :objects
 {:Business
  {:fields
   {:id {:type ID}
    :name {:type String}}
   :tag com.example.data.Business}

  :Employee
  {:fields
   {:id {:type ID}
    :employer {:type :Business}
    :givenName {:type String}
    :familyName {:type String}}
   :tag com.example.data.Employee}

  :Query
  {:fields
   {:businesses
    {:type (list :Business)}

    :search
    {:type (list :Searchable)}}}}}

