(require
  '[com.walmartlabs.lacinia :refer [execute]]
  '[org.example.schema :refer [star-wars-schema]])

(def compiled-schema (star-wars-schema))

(execute compiled-schema
  "query { human(id: \"1001\") { name }}"
  nil nil)
=> {:data {:human #ordered/map([:name "Darth Vader"])}}
