{:objects
 {:Character {:fields
              {:name {:type (non-null String)
                      :description "Character name"}
               :episodes {:type (list :episode)}}
              :description "A Star Wars character"}
  :Query {:fields
          {:find_all_in_episode {:type (list :Character)
                                 :args
                                 {:episode
                                  {:type (non-null :episode)
                                   :description "Episode for which to find characters."}}
                                 :resolve :find-all-in-episode
                                 :description "Find all characters in the given episode"}}}
  :Mutation {:fields
             {:add_character
              {:type Boolean
               :args {:character {:type (non-null :CharacterArg)}}
               :resolve :add-character}}}}

 :input-objects
 {:CharacterArg {:fields
                 {:name {:type (non-null String)}
                  :episodes {:type (non-null (list :episode))}}}}

 :enums
 {:episode {:values [{:enum-value :NEWHOPE}
                     {:enum-value :EMPIRE}
                     {:enum-value :JEDI}]}}

 :roots
 {:query :Query
  :mutation :Mutation}}
