(ns org.example.schema
  (:require
    [clojure.edn :as edn]
    [clojure.java.io :as io]
    [com.walmartlabs.lacinia.schema :as schema]
    [com.walmartlabs.lacinia.util :as util]))

(defn ^:private literal-factory
  [literal-value]
  (fn [context args value]
    literal-value))

(defn hello-schema
  []
  (-> (io/resource "hello.edn")
    slurp
    edn/read-string
    (util/attach-resolvers {:literal literal-factory})
    schema/compile))
