
(require
  '[com.walmartlabs.lacinia.executor :as executor])

(defn resolve-hero
  [context args _]
  (if (executor/selects-field? context :Character/friends)
    (fetch-hero-with-friends args)
    (fetch-hero args)))
