{:objects
 {:LogEvent
  {:fields
   {:severity {:type String}
    :message {:type String}}}

  :Subscription
  {:fields
   {:logs
    {:type :LogEvent
     :args {:severity {:type String}}
     :stream :stream-logs}}}}}
