(require '[com.walmartlabs.lacinia :as lacinia])

(lacinia/execute
  star-wars-schema
  "{
  luke: human(id: \"1000\") { friends { name }}
  leia: human(id: \"1003\") { name }
}" nil
  {::lacinia/enable-timing? true})
=>
{:data {:luke {:friends [{:name "Han Solo"} {:name "Leia Organa"} {:name "C-3PO"} {:name "R2-D2"}]},
        :leia {:name "Leia Organa"}},
 :extensions
 {:timing
  {:human
   {:execution/timings [{:start 1493245557504, :finish 1493245557504, :elapsed 0}
                        {:start 1493245557507, :finish 1493245557507, :elapsed 0}],
    :friends
    {:execution/timings [{:start 1493245557505, :finish 1493245557505, :elapsed 0}]}}}}}
