(require '[com.walmartlabs.lacinia :as lacinia])

(lacinia/execute
  star-wars-schema "
  {
    luke: human(id: \"1000\") { friends { name }}
    leia: human(id: \"1003\") { name }
  }"
  nil
  {::lacinia/enable-timing? true})
=>
{:data {:luke {:friends [{:name "Han Solo"}
                         {:name "Leia Organa"}
                         {:name "C-3PO"}
                         {:name "R2-D2"}]}
        :leia {:name "Leia Organa"}}
 :extensions
 {:timings
  [{:start 1493245557504 :finish 1493245557514 :elapsed 10 :path [:luke]}
   {:start 1493245557507 :finish 1493245557519 :elapsed 12 :path [:leia]}
   [:start 1493245557515 :finish 1493245557555 :elapsed 40 :path [:luke :friends]]]}}
