{:unions
 {:SearchResult
  {:members [:Person :Photo]}}

 :objects
 {:Person
  {:fields {:name {:type String}
            :age {:type Int}}}

  :Photo
  {:fields {:imageURL {:type String}
            :title {:type String}
            :height {:type Int}
            :width {:type Int}}}

  :Query
  {:fields
   {:search
    {:type (list :SearchResult)
     :args {:term String}}}}}}
