{:objects
 {:BoardGame
  {:description "A physical or virtual board game."
   :fields
   {:id          {:type (non-null ID)}
    :name        {:type (non-null String)}
    :summary     {:type        String
                  :description "A one-line summary of the game."}
    :description {:type        String
                  :description "A long-form description of the game."}
    :minPlayers  {:type        Int
                  :description "The minimum number of players the game supports."}
    :maxPlayers  {:type        Int
                  :description "The maximum number of players the game supports."}
    :playTime    {:type        Int
                  :description "Play time, in minutes, for a typical game."}}}

  :Query
  {:fields
   {:gameById
    {:type        :BoardGame
     :description "Access a BoardGame by its unique id, if it exists."
     :args
     {:id {:type ID}}}}}}}
